ImageSorter.pro.user
VisionWorkbench-2.1.0/
build/
paper/README_PAPER.aux
paper/README_PAPER.blg
paper/README_PAPER.dvi
paper/README_PAPER.log
paper/README_PAPER.pdf
paper/colorharmony.jpg
paper/example_expose.xcf
paper/final_submisson/
paper/ml.aux
paper/ml.bbl
paper/ml.blg
paper/ml.dvi
paper/ml.log
paper/ml.pdf
paper/result_unsorted.xcf
paper/texput.log
results/data/
results/luotang_correl.xcf
*.swp
