ImageSorter.pro.user
VisionWorkbench-2.1.0/
build/
paper/build/*
results/data/
results/luotang_correl.xcf
src/similarity/lear_gist/Makefile
src/similarity/lear_gist/README
src/similarity/lear_gist/ar.ppm
*.swp
trainingdata/hl*.tdat
trainingdata/all_turk_data/
